*,
*::after,
*::before {
  box-sizing: border-box;
}

ul {
  margin: 0;
  list-style: none;
}

li {
  padding-left: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #131313;
  font-family: 'Inter', sans-serif;
}

.container {
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 10px;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  margin-right: 70px;
}

.menu__list {
  display: flex;
}

.menu__item:not(:last-child) {
  margin-right: 10px;
}

.menu__link {
  text-transform: uppercase;
  padding: 42px 20px;
  transition: all .3s;
}

.menu__link:hover {
  background-color: #131313;
  color: #fff;
}